<div class="container">
    <div id="burger-0" class="row">
        <div class="col d-flex p-2 flex-column align-items-center ">
            
            <span id="burger-header">
                <i class="fas fa-hamburger"></i>
            </span>
            <h1 id="header">We live to DEVOUR Burger's !!</h1>
            
        </div>
    </div>
    <div id="burger-1" class="row">
        <div class="col to-devour d-flex p-2 flex-column align-items-center">
            <h1 id="burger-eat-h1">Burgers to DEVOUR</h1>
            <ul id="ul-eat">
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div id="burger-2" class="col devoured d-flex p-2 flex-column align-items-center">
            <h1 id="burger-eaten-h1">Burgers DEVOURED</h1>
            <ul id="ul-eaten">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div id="burger-3" class="row">
        <form class="col-8">
                <div class="d-flex p-2 flex-row align-items-center">
                    <label id="text"><h3>Enter a burger you want to eat : </h3></label>
                    <textarea id="textarea"></textarea>
                </div>
        </form>
        <div class="col-4 col d-flex p-2 flex-column align-items-center">
            <button class="btn-lg btn-warning submit" type="submit" name="action">Submit</button>
        </div>
    </div>
    

</div>
</div>